
#cookie-bar .bcn-message p{
   position: relative;
   float: left;
   margin: 0px auto;
   margin-bottom: 0px;
   cursor: pointer;
}

#cookie-bar .bcn-button p{
margin-bottom: 0px;
   margin: 0px auto;
   cursor: pointer;
}
#cookie-bar .closethis{
   position: absolute;

   width: 20px;
   height: 20px;
   top: 5px;

}